body {
    margin: 0;
}

.thumb-bottom {
    margin-bottom: 1.5vh;
    margin-top: 0.75vh;
}

.thumb-container {
    background-color: black;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
    float: left;
    height: 28vh;
    margin-bottom: 0.75vh;
    margin-top: 0.75vh;
    width: 25vw;
}

.thumb-left {
    margin-left: 1.25vw;
    margin-right: 0.625vw;
}

.thumb-mid {
    margin-left: 0.625vw;
    margin-right: 0.625vw;
}

.thumb-right {
    margin-left: 0.625vw;
    margin-right: 1.25vw;
}

.thumb-top {
    margin-bottom: 0.75vh;
    margin-top: 1.5vh;
}

#bottom-bar {
    background-color: #283033;
    height: 10vh;
    left: 20vw;
    position: absolute;
    top: 90vh;
    width: 80vw;
}

#next-arrow {
    cursor: pointer;
    float: right;
}

#page-controls {
    color: black;
    left: 40vw;
    margin-top: 2.5vh;
    position: fixed;
    top: 90vh;
    width: 40vw;
}

#prev-arrow {
    cursor: pointer;
    float: left;
}

#side-bar {
    background-color: #283033;
    height: 100vh;
    width: 20vw;
}

#thumb-display {
    height: 90vh;
    left: 20vw;
    position: absolute;
    top: 0;
    width: 80vw;
}
