@font-face {
    font-family: ArchitectsDaughter;
    src: url(../fonts/ArchitectsDaughter.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Bangers;
    src: url(../fonts/Bangers.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: CarterOne;
    src: url(../fonts/CarterOne.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FasterOne;
    src: url(../fonts/FasterOne-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}


body {
    margin: 0;
}

.fs-control {
    margin-bottom: auto;
    margin-top: auto;
}

.thumb-bottom {
    margin-bottom: 1.5vh;
    margin-top: 0.75vh;
}

.thumb-container {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
    cursor: pointer;
    float: left;
    height: 28vh;
    margin-bottom: 0.75vh;
    margin-top: 0.75vh;
    width: 25vw;
}

.thumb-left {
    margin-left: 1.25vw;
    margin-right: 0.625vw;
}

.thumb-mid {
    margin-left: 0.625vw;
    margin-right: 0.625vw;
}

.thumb-right {
    margin-left: 0.625vw;
    margin-right: 1.25vw;
}

.thumb-top {
    margin-bottom: 0.75vh;
    margin-top: 1.5vh;
}

#bottom-bar {
    background-color: #21252b;
    height: 10vh;
    left: 20vw;
    position: fixed;
    top: 90vh;
    width: 80vw;
}

#fs-next-arrow {
    cursor: pointer;
    margin-left: 20px;
}

#fs-prev-arrow {
    cursor: pointer;
    margin-right: 20px;
}

#fs-viewer {
    background-color: black;
    color: #e8eaea;
    display: flex;
    left: 110vw;
    min-height: 1px;
    min-width: 1px;
    position: fixed;
    top: 110vh;
}

#jump-click {
    cursor: pointer;
}

#next-arrow {
    cursor: pointer;
    float: right;
}

#page-controls {
    color: black;
    left: 40vw;
    margin-top: 2.5vh;
    position: fixed;
    top: 90vh;
    width: 40vw;
}

#page-jump {
    color: #56b6c2;
    font-family: ArchitectsDaughter;
    font-size: 100%;
    margin-left: 5vw;
    margin-top: 25vh;
}

#page-jump-input {
    background-color: inherit;
    border: none;
    color: #56b6c2;
    font-family: ArchitectsDaughter;
    font-size: 100%;
    padding: 0;
    text-align: right;
    width: 2.5rem;
}

#prev-arrow {
    cursor: pointer;
    float: left;
}

#side-bar {
    background-color: #21252b;
    display: inline-block;
    height: 100vh;
    width: 20vw;
}

#title-badge {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10vh;
    margin-top: 5vh;
}

#title-text {
    color: #ababfe;
    font-family: Bangers;
    font-size: 2.5em;
    text-align: center;
}

#thumb-display {
    background-color: #282c34;
    height: 90vh;
    left: 20vw;
    position: absolute;
    top: 0;
    width: 80vw;
}
