body {
    margin: 0;
}

.thumb-container {
    background-color: 'black';
    height: 25vh;
    margin: 8.3vw 8.3vh;
    width: 25vw;
}

#bottom-bar {
    background-color: #283033;
    height: 10vh;
    left: 20vw;
    position: absolute;
    top: 90vh;
    width: 80vw;
}

#side-bar {
    background-color: #283033;
    height: 100vh;
    width: 20vw;
}

#thumb-display {
    height: 80vh;
    left: 20vw;
    position: absolute;
    top: 0;
    width: 80vw;
}
